{% extends "property/base.html" %}
{% load js %}

{% block headblock %}
  <title>SRMP | Encumbrance Registration</title>
{% endblock %}

{% block bodyblock %}
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="container">
          <div class="col-xs-10">
            <div class="thumbnail">
              <form class="form-horizontal" action="/property/create_encumbrance/" method="post">
                {% csrf_token %}
                <div class="form-group">
                  <label class="control-label col-sm-4" for="date">Date registration:</label>
                  <div class="col-sm-8">
                    <input type="date" class="form-control" id="date" name="date" required>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-sm-4" for="prosecutor_id">Prosecutor Code:</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" id="prosecutor_id" name="prosecutor_id"
                    required>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-sm-4" for="debtor_id">Debtor Code:</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" id="debtor_id" name="debtor_id"
                    required>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-sm-8">
                    <input type="hidden" class="form-control" id="notary" name="notary"
                    value="{{ user.id }}">
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-sm-4" for="reason_document_name">Reason Document name:</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" id="reason_document_name" name="reason_document_name"
                    required>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-sm-4" for="reason_document_date">Date of Reason Document:</label>
                  <div class="col-sm-8">
                    <input type="date" class="form-control" id="reason_document_date" name="reason_document_date"
                    required>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-sm-4" for="reason_document_description">Description of Reason Document:</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" id="reason_document_description" name="reason_document_description"
                    required>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-sm-4" for="encumbrance_kind">Encumbrance Kind:</label>
                  <div class="col-sm-8">
                    <select class="form-control" id="encumbrance_kind" name="encumbrance_kind">
                      <option value="Private">Private</option>
                      <option value="Public">Public</option>
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-sm-4" for="encumbrance_type">Encumbrance Type:</label>
                  <div class="col-sm-8">
                    <select class="form-control" id="encumbrance_type" name="encumbrance_type">
                        <option value="Tax Pledge">Tax Pledge</option>
                        <option value="Arrest">Arrest</option>
                        <option value="Foreclosure">Foreclosure</option>
                        <option value="Mortgage of movable property">Mortgage of movable property</option>
                        <option value="Prohibition">Prohibition</option>
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-sm-4" for="debt_amount">Debt amount:</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" id="debt_amount" name="debt_amount" required>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-sm-4" for="deadline">Deadline:</label>
                  <div class="col-sm-8">
                    <input type="date" class="form-control" id="deadline" name="deadline" required>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-sm-4" for="object_serial_number">Object serial number:</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" id="object_serial_number" name="object_serial_number" required>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-sm-4" for="object_description">Object description:</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" id="object_description" name="object_description" required>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-sm-offset-2 col-sm-10">
                    <button type="button" class="btn btn-default" id="btn-sub" onclick="validate(this.form)" style="float:right">Send</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script type="text/javascript">
  function validate(form) {
      var elems = form.elements;

      if (!elems.date.value || !elems.prosecutor_id.value || !elems.debtor_id.value ||
        !elems.reason_document_name.value || !elems.reason_document_date.value ||
        !elems.reason_document_description.value || !elems.encumbrance_kind.value ||
        !elems.encumbrance_type.value || !elems.debt_amount.value || !elems.deadline.value ||
        !elems.object_serial_number.value || !elems.object_description.value) {
          alert("Please fill in all the fields.");
      }
      else {
        checkDebProc();
      }
    }

    function checkDebProc() {
      var prosecutor_code = document.getElementById('prosecutor_id').value;
      var debtor_code = document.getElementById('debtor_id').value;
      var debtors = {{ debtors | js }};
      var prosecutors = {{ prosecutors | js }};
      var debtor_inDB = false;
      var prosecutor_inDB = false;

      for (var i = 0; i < debtors.length; i++) {
        if (debtor_code == debtors[i].code) {
          debtor_inDB = true;
          document.getElementById('debtor_id').value = debtors[i].id;
          break;
        }
      }

      for (var i = 0; i < prosecutors.length; i++) {
        if (prosecutor_code == prosecutors[i].code) {
          prosecutor_inDB = true;
          document.getElementById('prosecutor_id').value = prosecutors[i].id;
          break;
        }
      }

      if (!debtor_inDB && !prosecutor_inDB) {
          alert("No debtor with such code found!\nNo prosecutor with such code found!")
      }
      else if (!debtor_inDB) {
          alert("No debtor with such code found!")
      }
      else if (!prosecutor_inDB) {
          alert("No prosecutor with such code found!")
      }

      if (debtor_inDB && prosecutor_inDB){
        document.getElementById('btn-sub').type = "submit";
      }
    }
  </script>
{% endblock %}