{% extends "property/base.html" %}

{% block headblock %}
  <title>SRMP | User Profile</title>
{% endblock %}

{% block bodyblock %}
  <div class="container">
    <div class="row">
      <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
        <div class="thumbnail" style="width:200px;">
          <img src="https://media.giphy.com/media/OjmiOjUPzJSSI/giphy.gif">
        </div>
      </div>
      <div class="col-md-6">
        <div class="container">
          <div class="col-xs-10">
            <div class="thumbnail" style="min-height:275px;">
              {% if notary.licensed %}
                  <a href="/property/create_prosecutor/" class="btn btn-success" role="button" style="float: right; margin-left: 10px;">
                    Create prosecutor
                  </a>
                  <a href="/property/create_debtor/" class="btn btn-success" role="button" style="float: right; margin-left: 10px;">
                    Create debtor
                  </a>
                  <a href="/property/create_encumbrance/" class="btn btn-success" role="button" style="float: right; margin-left: 10px;">
                    Create encumbrance
                  </a>
              {% else %}
                  <a class="btn btn-warning" role="button" onclick="alert('Notary has not license')" style="float: right; margin-left: 10px;">
                    Create prosecutor
                  </a>
                  <a class="btn btn-warning" role="button" onclick="alert('Notary has not license')" style="float: right; margin-left: 10px;">
                    Create debtor
                  </a>
                <a class="btn btn-warning" role="button" onclick="alert('Notary has not license')" style="float: right; margin-left: 10px;">
                  Create encumbrance
                </a>
              {% endif %}
              <h2>{{ notary.full_name }}</h2>
              <h4>{{ notary.license }}</h4>
              <br><br>
                {% if notary.licensed %}
                  <p>
                  <div class="list-group">
                    {% if encumbrances %}
                      <h4>Encumbrances list:</h4>
                      {% for e in encumbrances %}
                        <a href="/property/encumbrance?id={{ e.id }}" class="">
                          Id: {{ e.id }}
                        </a><i> Secret code:</i> {{ e.hashcode }}<br>
                      {% endfor %}
                    {% endif %}
                  </div>
                  </p>
                {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
