{% extends "property/base.html" %}

{% block headblock %}
  <title>SRMP | User Profile</title>
{% endblock %}

{% block bodyblock %}
  <div class="container">
    <div class="row">
      <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
        <div class="thumbnail" style="width:200px;">
          <img src="https://media.giphy.com/media/OjmiOjUPzJSSI/giphy.gif">
        </div>
      </div>
      <div class="col-md-6">
        <div class="container">
          <div class="col-xs-10">
            <div class="thumbnail" style="min-height:275px;">
              <h2>{% user.name %}</h2>
              <h4>{% user.license %}</h4>
              <br><br><br><br>
              <p>
                <a href="/user-capabilities?encumbrance=encumbrance-create" class="btn btn-default" role="button">
                  Create encumbrance
                </a>
              </p>
              <p>
                <a href="#/search?list=search_by_id" class="btn btn-default" role="button">
                  View created encumbrances list 
                </a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
